* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    /* height: 100%; */
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;

    background-image: url(../img/main-page.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-color: #464646;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */

    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* высота веб-страницы больше или равна высоте окна браузера */
    /* margin: 0; */
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
/*--------------------------------------------HEADER-------------------------------------------------*/
.header {
    margin: 0;
    height: 42px;
    background-color: #69c8fb;
    background-attachment:fixed;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
}
.container {
    width: 960px;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    
}
.header__logo img:hover{
    opacity: 0.7;
}
.header__btn a {
    display: block;
    padding: 9px 20px ;
    background-color: #526ad5;
    color: blanchedalmond;
    border-radius: 5px;
}
.header__btn a:hover {
    background-color: #899ae4;
}
/*-------------------------------------MAIN INDEX----------------------------------------*/
main {
    flex: 1; /* если содержимое body меньше высоты окна, то main будет растянут до нужной величины */
    
    -ms-flex-preferred-size: auto;
    display: flex;
    justify-content: center;
    /* background-color: #ebebeb; */
    margin-bottom: 20px;
    margin-top: 40px;
    
}
main nav {
    width: 20%;
}

/* main .container {
    overflow: auto;
    min-height: 90vh;

} */
.main__wrapper {
    display: flex;
    margin-top: 20px;
}
.main__registration {
    min-width: 30%;
}
.main__form label{
    display: block;
    font-size: 16px;
    color: #1e41dc;
    margin-top: 10px;
}
.main__form input {
    width: 70%;
    border-radius: 5px;
    padding: 9px 0;
    border: 0 solid;
    margin-top: 10px;
    text-align: center;
}
.main__form button {
 width: 70%;
 padding: 9px 0;
 border: 0 solid;
 border-radius: 5px;
 margin-top: 10px;
 background-color: #526ad5;
 color: #fff;
 font-size: 16px;
 font-weight: bold;
}
.main__form button:hover,
.main__form button:focus {
    background-color: #899ae4;
}
.main__form a {
    display: block;
    margin-top: 5px;
    text-align: center;
    padding: 9px 0;
    border-radius: 5px;
    color: #fff;
    width: 70%;
    background-color: #526ad5;
    font-size: 16px;
    font-weight: bold;
}
.main__form a:hover,
.main__form a:focus {
    background-color: #899ae4;
}



.main__info {
    min-width: 70%;
    text-align: center;
    margin: 100px 0;
    color: #1e41dc;
   /* background-color: #fff; */
}
.main__info h1{
    font-size: 32px;
}
.main__description {
    margin-top: 30px;
    font-size: 20px;
}
.error {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error img {
    width: 250px;
    margin-bottom: 30px;
}
/*-----------------------------------REGISTRATION PAGE--------------------------------*/
.header__btn_back a {
    display: block;
    padding: 9px 45px ;
    background-color: #526ad5;
    color: blanchedalmond;
    border-radius: 5px;
}
.header__btn_back a:hover,
.header__btn_back a:focus {
    opacity: 0.7;
}
.registration__form {
    display: flex;
    justify-content: center;
    
}
.registration__form .container {
    display: flex;
    justify-content: center;
}
.registration__form__wrapper {
    width: 50%;
}
.registration__form__wrapper form {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    margin-top: 50px;
}
.form-group {
    width: 100%;
}
.form-group label{
    display: block;
    font-size: 16px;
    color: #1e41dc;
    margin-top: 10px;
    width: 100%;
    text-align: left;
    padding-left: 20px;
}
.form-group input {
    width: 100%;
    border-radius: 5px;
    padding: 9px 0;
    border: 0 solid;
    margin-top: 10px;
    text-align: left;
    padding-left: 20px;
}
.registration__form__wrapper button {
 
 padding: 9px 0;
 border: 0 solid;
 border-radius: 5px;
 margin-top: 10px;
 background-color: #526ad5;
 color: #fff;
 font-size: 16px;
 font-weight: bold;
}
.registration__form__wrapper button:hover,
.registration__form__wrapper button:focus {
    background-color: #899ae4;
}

/*------------------------------------ ABOUT COMPANY----------------------------------*/
.about__company {
    display: flex;
    justify-content: center;
    
}
.about__company .container {
    margin-top: 40px;
}
.row {
    display: flex;
    flex-direction: column;
    
}
.about__list {
    display: flex;
    margin-top: 20px;
}


.about__company__wrapper {
    text-align: center;
    color: #1e41dc;
    background: #fff;
    opacity: 0.7;
}

.about__company__wrapper h1 {
    font-size: 32px;
    margin-top: 20px;
}
.about__company__wrapper p {
    font-size: 16px;
    margin-top: 15px;
    padding: 0 30px;
}
.about__company .container img {
    width: 30%;
    height: 100%;
}

/*-------------------------------------PROFILE----------------------------------------*/



.main__profile .container {
    margin-top: 20px;
}
.main__profile__wrapper {
    display: flex;
    align-items: flex-start;
}
.main__profile__wrapper nav {
    color: #fff;
    background: #69c8fb; 
    width: 20%;
    border-radius: 5px;
    
}
.user_menu a{
    display: block;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
}
.profile__settings {
    width: 25%;
    background: rgb(245, 238, 238);
    margin-left: 10px; 
    border-radius: 5px;
    
}
.profile__friends {
    margin: 10px;
    background: #69c8fb;
    border-radius: 5px;
}
.profile__friends p {
    padding: 5px;
}
.profile__friends ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;

}
.setting__wrapper {
    margin: 10px;
    background: #69c8fb;
}
.profile__friends li{
    width: 25%;
    font-size: 12px;
    padding: 5px;
}
.profile__friends img {
    height: 50px;
    border-radius: 50%;
    background-size: cover;
}

.profile__wall {
    width: 55%;  
    margin-left: 10px; 
    border-radius: 5px; 
    display: flex;
    flex-direction: column;
    padding: 10px; 
    background: rgb(245, 238, 238);
    margin-bottom: 10px;
} 
.user_menu_link:hover,
.user_menu_link:focus {
    background-color: #0691dc;
    border-radius: 5px;
    font-size: 20px;
}

.profile__settings img {
    width: 100%; 
}
.changes_profil {
    display: block;
    width: 100%;
    background-color: #526ad5;
    margin-top: 5px;
    text-align: center;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
}
.changes_profil:hover,
.changes_profil:focus {
    background-color: #899ae4;
}
.wall__setting {
    background: #69c8fb; 
    border-radius: 5px;
    padding: 10px;
}

.wall__setting ul {
    display: flex;
    justify-content: space-between;
}
div#carousel { 
    perspective: 1200px; 
    background: #97e4e4; 
    padding-top: 10%; 
    font-size:0; 
    /* margin-bottom: 3rem;  */
    overflow: hidden; 
  }
  figure#spinner { 
    transform-style: preserve-3d; 
    height: 300px; 
    transform-origin: 50% 50% -500px; 
    transition: 1s; 
  } 
  figure#spinner img { 
    width: 40%; max-width: 425px; 
    position: absolute; left: 30%;
    transform-origin: 50% 50% -500px;
    outline:1px solid transparent; 
  }
  figure#spinner img:nth-child(1) { transform:rotateY(0deg); 
  }
  figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
  figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
  figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
  figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
  figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
  figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
  figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
  div#carousel ~ span { 
    color: #fff; 
    margin: 5%; 
    display: inline-block; 
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 
    margin-top: -6rem; 
    border-bottom: none; 
    line-height: 0; }
  div#carousel ~ span:hover { color: #888; cursor: pointer; }

.wall__foto {
    background: #69c8fb;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
}

.news {
    margin-bottom: 10px;
    background: #69c8fb;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
}
.news button {
    padding: 9px 5px;
    border: 0 solid;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #526ad5;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.news a {
    display: block;
    float: right;
    padding: 9px 5px;
    border: 0 solid;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #526ad5;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.news__date {
    padding-top: 10px;
}
.news a:hover,
.news a:focus,
.news button:hover,
.news button:focus {
    opacity: 0.7;
}
/*-------------------------------------FRIENDS PAGE-----------------------------------*/

.friends {
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin-left: 10px;
    background: rgb(245, 238, 238);
    -webkit-border-radius: 5px;
            border-radius: 5px;
}

.friends__list ul {
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    margin: 10px;
    border: 1px solid;
    -webkit-border-radius: 5px;
            border-radius: 5px;
}
.friends__list li {
    width: 25%;
    padding-left: 10px;
    margin-left: 15px;
    
}
.friends__list img {
    padding-top: 5px;
    height: 70px;
    width: 70px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
.friends__list a{
    display: block;
    
}

.friend__message {
    padding: 7px 5px;
    border: 0 solid;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #526ad5;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}
.friend__name {
    margin-top: 17px;
    font-size: 24px;
    color: #000;
}
.friends__list ul:hover,
.friends__list ul:focus {
    background: #69c8fb;
}
.friend__message:hover,
.friend__message:focus {
    opacity: 0.7;
}

/*-------------------------------------IMAGE USER-------------------------------------*/

.main__image {
    width: 80%;
    margin-left: 30px;
    background-color: #fff;
 }
 .image__user {
  
    margin-top: 10px;
 }      



.foto__profile ul{
    display: flex;
    justify-content: space-between;
    
}
.foto__profile img {
    width: 120px;
    height: 120px;
}
.hovergallery img{

    height: 140px;
    
    -webkit-transform:scale(0.8); /*Webkit: уменьшаем размер до 0.8*/
   
    -moz-transform:scale(0.8); /*Mozilla: масштабирование*/
    
    -o-transform:scale(0.8); /*Opera: масштабирование*/
    
    -webkit-transition-duration: 0.5s; /*Webkit: длительность анимации*/
    
    -moz-transition-duration: 0.5s; /*Mozilla: длительность анимации*/
    
    -o-transition-duration: 0.5s; /*Opera: длительность анимации*/
    
    opacity: 0.7; /*Начальная прозрачность изображений*/
    
    margin: 0 10px 5px 0; /*Интервалы между изображениями*/
    
}
    
     
    
.hovergallery img:hover{
    
    -webkit-transform:scale(1.1); /*Webkit: увеличиваем размер до 1.2x*/
    
    -moz-transform:scale(1.1); /*Mozilla: масштабирование*/
    
    -o-transform:scale(1.1); /*Opera: масштабирование*/
    
    box-shadow:0px 0px 30px gray; /*CSS3 тени: 30px размытая тень вокруг всего изображения*/
    
    -webkit-box-shadow:0px 0px 30px gray; /*Webkit: тени*/
    
    -moz-box-shadow:0px 0px 30px gray; /*Mozilla: тени*/
    
    opacity: 1;
    
}
    


/*--------------------------------------MESSAGES--------------------------------------*/

.main__messages {
    margin-left: 10px;
    margin-bottom: 10px;
    background: #69c8fb;
    border-radius: 5px;
    padding: 10px;
    width: 80%;
}
.messages__search input {
    padding: 5px 5px;
    height: 30px;
    width: 70%;
    padding-left: 10px;
    border: 0 solid;
    border-radius: 5px;
    
}
.messages__search button {
    padding: 9px 5px;
    border: 0 solid;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #526ad5;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    width: 25%;
}
.messages__search button:hover,
.messages__search button:focus {
    opacity: 0.7;
}
.message__list {
    margin-top: 10px;   
    display: flex;
    border: #000 solid;
    border-radius: 5px;
    width: 95%;
    
}
.message__list a {
    width: 20%;
}
.message__list img {
    margin: 5px 0 0 5px;
    height: 70px;
    width: 70px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
.message__list p {
    margin-top: 30px;
    width: 80%;
    font-size: 16px;
}
.message__list:hover,
.message__list:focus {
    background-color: #fff;
}
.btn__back {
    display: block;
    margin: 5px;
    padding: 5px 10px;
    list-style: none;
    background-color: #526ad5;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    width: 95%;
    margin-left: 0;
}
.message__list h3{
    margin-left: 5px;
}

/*-------------------------------------NEWS PROFILE-----------------------------------*/
.news__profile {
    margin-top: 0;
    margin-left: 10px;
    width: 80%;
}

.news__profile .news {
    margin-top: 0;
}
.news__profile h1 {
    padding:5px 10px;
}
.news__profile p {
    padding:5px 10px;
}
.news__profile img {
    width: 200px;
}

/*-------------------------------CHANGES PROFILE--------------------------------------*/

.main__changes {
    margin-left: 10px;
    margin-bottom: 10px;
    background: #69c8fb;
    border-radius: 5px;
    padding: 10px;
    width: 80%;
}
.change__list {
    display: flex;
    justify-content: space-around;
}
.change__list form {
    width: 70%;
    margin-bottom: 20px;
}

.change__list button {
 
 padding: 9px 0;
 border: 0 solid;
 border-radius: 5px;
 margin-top: 10px;
 background-color: #526ad5;
 color: #fff;
 font-size: 16px;
 font-weight: bold;
 width: 45%;
}
.change__list button:hover,
.change__list button:focus {
    background-color: #899ae4;
}

/*---------------------------------------GROUP PAGE ----------------------------------*/
.group {
    margin-left: 10px;
    margin-bottom: 10px;
    background: #69c8fb;
    border-radius: 5px;
    padding: 10px;
    width: 80%;
}
.crop{
	float:none;
	margin:.5em 10px .5em 0;
	overflow:hidden; /* this is important */
	margin: auto 0;
	}
	/* input values to crop the image: top, right, bottom, left */
.crop img{
    width: 100%;
    margin: -140px 0px -60px;
}
.group__nav nav {
    width: 100%;
    margin: 10px 0;
}
.group__nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.group__nav li {
    width: 45%;
}
.group__nav img {
    margin-right: 60px;
    margin-top: -55px;
    float: right;
    height: 120px;
    border-radius: 100px;
}
.group__name{
    font-size: 26px;
    margin-left: 15px;
}
.group__mess a {
    display: block;
    padding: 9px 0;
    border: 0 solid;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #526ad5;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.group__item ul {
    display: flex;
    justify-content: space-around;
    
}
.group__item li{
    width: 100%;
    list-style: none;
    color: #000;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.group__item li:hover,
.group__item li:focus {
    background-color: #899ae4;
}
.group__item a{
    color: #000;
    
    
}

/*-------------------------------------FOOTER-----------------------------------------*/
.footer {
    margin: 0;
    height: 42px;
    background-color: #69c8fb;
    background-attachment:fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer__nav {
    display: flex;
    justify-content: center;   
}
.footer__nav a{
    color: #fff;
    padding: 9px 5px;
}
.footer__nav a:hover,
.footer__nav a:focus {
    background-color: #0691dc;
}






